name: Meson

on:
  [push, pull_request]

jobs:
  nix-build-develop-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        # sanitizer: [ none, thread, undefined ]
        sanitizer: [ none, undefined ]
        buildtype: [ release, debug ]
        ndebug: [ "true", "false" ]

    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v22
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix develop --command meson setup build/ --buildtype=${{ matrix.buildtype }} -Db_sanitize=${{ matrix.sanitizer }} -Db_ndebug=${{ matrix.ndebug }}
    - run: nix develop --command meson compile -C build
    - run: nix develop --command meson test -C build
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: nix-build-develop-gcc-testlog-${{ matrix.sanitizer }}-${{ matrix.ndebug }}-${{ matrix.buildtype }}
        path: build/meson-logs/testlog.txt

  nix-build-develop-clang:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [ none ]
        buildtype: [ release, debug ]
        ndebug: [ "true", "false" ]

    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v22
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix develop .#llvm --command env CXX=clang++ meson setup build/ --buildtype=${{ matrix.buildtype }} -Db_sanitize=${{ matrix.sanitizer }} -Db_ndebug=${{ matrix.ndebug }}
    - run: nix develop .#llvm --command meson compile -C build
    - run: nix develop .#llvm --command meson test -C build
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: nix-build-develop-clang-testlog-${{ matrix.sanitizer }}-${{ matrix.ndebug }}-${{ matrix.buildtype }}
        path: build/meson-logs/testlog.txt
